
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    /* Added for sticky footer support */
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
    /* Added for sticky footer support */
  }

/* Added for sticky footer support */
main {
  flex: 1 0 auto;
  }
/* Added for sticky footer support */
 
.evcs-header {
    height: 8vh;
    background-color: teal;
    color: white;
}

.evcs-back-color{
    background-color: teal;
}

.evcs-text-color{
  color: teal;
}

.evcs-main{
  padding-top: 1%;
  max-width: 95%;
  width: 95%;
}

.no-margin {
  margin:0px;
}

.dropdown-content li > span, select > option, .select {
  font-size: 15px;
}

.search-button-margin{
  margin-top: 2em;
}

/* "search" button margin scales for smaller viewports*/
@media (max-width: 600px) {
  .search-button-margin{
    margin-top: auto;
  }  
}